@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/ssp/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: lighter;
  src: url("fonts/ssp/SourceSansPro-Light.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/ssp/SourceSansPro-Bold.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: normal;
  src: url("fonts/ssp/SourceSansPro-Italic.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: lighter;
  src: url("fonts/ssp/SourceSansPro-LightIt.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: bold;
  src: url("fonts/ssp/SourceSansPro-BoldIt.otf");
}
@font-face {
  font-family: 'Blackout';
  src: url("fonts/bo/blackout_midnight-webfont.eot");
  src: local('Blackout Midnight'), url("fonts/bo/blackout_midnight-webfont.ttf") format('truetype'), url("fonts/bo/blackout_midnight-webfont.woff") format('woff'), url("fonts/bo/blackout_midnight-webfont.svg") format('svg');
}
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
body {
  background-color: #000;
  color: #fff;
  font-family: 'Source Sans Pro';
  width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}
.block {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.center {
  text-align: center;
}
h1,
h2 {
  line-height: 1;
  font-family: 'Blackout';
  color: #fff;
}
h1 {
  font-size: 80px;
  margin-bottom: 60px;
}
h1 em {
  color: #438c45;
  font-style: normal;
}
h2,
big {
  font-size: 40px;
  font-family: 'Blackout';
}
p {
  font-size: 25px;
  padding: 10px 0;
}
a {
  position: relative;
  color: #438c45;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid #438c45;
}
a:hover {
  color: #000;
  background: #438c45;
}
a:active {
  top: 1px;
}
#flask {
  background-color: #fff;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: -1;
  margin-left: 700px;
  top: 450px;
}
#progress,
#bar {
  position: absolute;
  width: 800px;
  margin-top: -60px;
}
#progress {
  border: 1px solid #fff;
  height: 60px;
  transform-origin: 0px 0px;
  -webkit-transform-origin: 0px 0px;
  -moz-transform-origin: 0px 0px;
  -o-transform-origin: 0px 0px;
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  animation: tilt 20s ease-in;
  -webkit-animation: tilt 20s ease-in;
  -moz-animation: tilt 20s ease-in;
  -o-aniamtion: tilt 20s ease-in;
}
#progress h2 {
  z-index: 1;
  color: #000;
  padding: 10px;
}
#bar {
  z-index: -1;
  height: 60px;
  background-color: #fff;
  animation: fillbar 20s ease-in;
  -webkit-animation: fillbar 20s ease-in;
  -moz-animation: fillbar 20s ease-in;
  -o-aniamtion: fillbar 20s ease-in;
}
@-moz-keyframes fillbar {
  0% {
    width: 1px;
  }

  50% {
    width: 800px;
  }
}
@-webkit-keyframes fillbar {
  0% {
    width: 1px;
  }

  50% {
    width: 800px;
  }
}
@-o-keyframes fillbar {
  0% {
    width: 1px;
  }

  50% {
    width: 800px;
  }
}
@-ms-keyframes fillbar {
  0% {
    width: 1px;
  }

  50% {
    width: 800px;
  }
}
@keyframes fillbar {
  0% {
    width: 1px;
  }

  50% {
    width: 800px;
  }
}
@-moz-keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  52% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}
@-webkit-keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  52% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}
@-o-keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  52% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}
@-ms-keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  52% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  52% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
  }
}
