@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: normal;
  src: url("fonts/ssp/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: lighter;
  src: url("fonts/ssp/SourceSansPro-Light.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: bold;
  src: url("fonts/ssp/SourceSansPro-Bold.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: normal;
  src: url("fonts/ssp/SourceSansPro-Italic.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: lighter;
  src: url("fonts/ssp/SourceSansPro-LightIt.otf");
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: bold;
  src: url("fonts/ssp/SourceSansPro-BoldIt.otf");
}
@font-face {
  font-family: 'Blackout';
  src: url("fonts/bo/blackout_midnight-webfont.eot");
  src: local('Blackout Midnight'), url("fonts/bo/blackout_midnight-webfont.ttf") format('truetype'), url("fonts/bo/blackout_midnight-webfont.woff") format('woff'), url("fonts/bo/blackout_midnight-webfont.svg") format('svg');
}
* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
body {
  background-color: #000;
  color: #fff;
  font-family: 'Source Sans Pro';
  width: 800px;
  margin: 0 auto;
  line-height: 1.5;
}
.block {
  margin: 20px 0;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
}
.center {
  text-align: center;
}
h1,
h2 {
  line-height: 1;
  font-family: 'Blackout';
  color: #fff;
}
h1 {
  font-size: 80px;
  margin-bottom: 60px;
}
h1 em {
  color: #78fb10;
  font-style: normal;
}
h2,
big {
  font-size: 40px;
  font-family: 'Blackout';
}
p {
  font-size: 25px;
  padding: 10px 0;
}
a {
  position: relative;
  color: #78fb10;
  padding: 5px;
  margin: 0 5px;
  border: 1px solid #78fb10;
  background-color: #000;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}
a:hover {
  color: #000;
  background-color: #78fb10;
}
a:active {
  top: 1px;
}
#flask,
#flask-bg {
  position: absolute;
  width: 300px;
  height: 300px;
}
#flask {
  margin-left: 684px;
  top: 920px;
}
#flask img {
  display: block;
}
#flask:hover #flask-bg {
  background-color: #78fb10;
}
#flask-bg {
  z-index: -1;
  background-color: #fff;
  margin-top: -300px;
  height: 300px;
  animation: fillflask 20s ease-out;
  -webkit-animation: fillflask 20s ease-out;
  -moz-animation: fillflask 20s ease-out;
  -o-aniamtion: fillflask 20s ease-out;
  transition: 0.4s background-color ease-in-out;
  -webkit-transition: 0.4s background-color ease-in-out;
  -moz-transition: 0.4s background-color ease-in-out;
  -o-transition: 0.4s background-color ease-in-out;
}
#progress,
#bar {
  position: absolute;
  height: 60px;
  margin-top: -60px;
}
#progress {
  width: 800px;
  transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  animation: tilt 20s ease-in;
  -webkit-animation: tilt 20s ease-in;
  -moz-animation: tilt 20s ease-in;
  -o-aniamtion: tilt 20s ease-in;
}
#progress h2 {
  color: #000;
  padding: 10px;
}
#bar {
  z-index: -1;
  width: 800px;
  background-color: #fff;
  animation: fillbar 20s ease-in;
  -webkit-animation: fillbar 20s ease-in;
  -moz-animation: fillbar 20s ease-in;
  -o-aniamtion: fillbar 20s ease-in;
}
@-moz-keyframes fillbar {
  0% {
    width: 0px;
  }

  20% {
    width: 800px;
  }

  90% {
    width: 800px;
  }

  94% {
    width: 0px;
  }

  100% {
    width: 0px;
  }
}
@-webkit-keyframes fillbar {
  0% {
    width: 0px;
  }

  20% {
    width: 800px;
  }

  90% {
    width: 800px;
  }

  94% {
    width: 0px;
  }

  100% {
    width: 0px;
  }
}
@-o-keyframes fillbar {
  0% {
    width: 0px;
  }

  20% {
    width: 800px;
  }

  90% {
    width: 800px;
  }

  94% {
    width: 0px;
  }

  100% {
    width: 0px;
  }
}
@-ms-keyframes fillbar {
  0% {
    width: 0px;
  }

  20% {
    width: 800px;
  }

  90% {
    width: 800px;
  }

  94% {
    width: 0px;
  }

  100% {
    width: 0px;
  }
}
@keyframes fillbar {
  0% {
    width: 0px;
  }

  20% {
    width: 800px;
  }

  90% {
    width: 800px;
  }

  94% {
    width: 0px;
  }

  100% {
    width: 0px;
  }
}
@-moz-keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  86% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  90% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}
@-webkit-keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  86% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  90% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}
@-o-keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  86% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  90% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}
@-ms-keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  86% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  90% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}
@keyframes tilt {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  86% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  90% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  100% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}
@-moz-keyframes fillflask {
  0% {
    height: 0px;
  }

  90% {
    height: 0px;
  }

  94% {
    height: 300px;
  }

  100% {
    height: 300px;
  }
}
@-webkit-keyframes fillflask {
  0% {
    height: 0px;
  }

  90% {
    height: 0px;
  }

  94% {
    height: 300px;
  }

  100% {
    height: 300px;
  }
}
@-o-keyframes fillflask {
  0% {
    height: 0px;
  }

  90% {
    height: 0px;
  }

  94% {
    height: 300px;
  }

  100% {
    height: 300px;
  }
}
@-ms-keyframes fillflask {
  0% {
    height: 0px;
  }

  90% {
    height: 0px;
  }

  94% {
    height: 300px;
  }

  100% {
    height: 300px;
  }
}
@keyframes fillflask {
  0% {
    height: 0px;
  }

  90% {
    height: 0px;
  }

  94% {
    height: 300px;
  }

  100% {
    height: 300px;
  }
}
